@import './form.css';
/* @import './button.css'; */
@import './text-input.css';

body {
    background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: pink;
}

form, p, h1, h2, .form-instructions {
  max-width: 40rem;
  margin: 0 auto;
}

.form-instructions {
  list-style: none;
}

form {
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}
